
<section class="container-m" id="produit">
	<div ng-model='produitChoisi'>
		<div class="product_top">
			<div class="img_product">
			<img ng-src= "{{imageAliment}}" style="background-size: cover" class="img_recipe">
			</div>
			<div class="info_product">
				  <h2>Produit : {{produit.product.product_name}}</h2>
				  <p>Quantité: {{produit.product.quantity}}</p>
				  <p>Matière grasse : {{produit.product.nutriments.fat}}</p>
				  <p>Sucre : {{produit.product.nutriments.sugars}}</p>
				  <p>Sel : {{produit.product.nutriments.salt}}</p>
			</div>
		</div>
	</div>

	<div ng-repeat="recette in recettesChoisi" class="recipe">

			<img ng-src= "{{recette.image}}" style="background-size: cover" class="img_recipe">
				<div class="info_recipe" ng-click="goToRecipe(recette)">
				<p>{{recette.nom}}</p>
				</div>



	</div>
	<a href="">Plus de recettes</a>
</section>
