/*partie walid*/
body{
	height: 100%
	width:100%;
}
*{

	margin: 0px;
	padding: 0px;
}

.container{
	background-color: #222222;
	height: 100vh;
}
.searchContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.scan{
	
	background: url(img/ScanLogo.svg) ;
	background-size: cover;
	height: 200px;
	width: 200px;
	margin: 50px 0;
	margin-top: 100px;
	text-align: center;
	line-height: 200px;
	color: white;
	font-size: 32px;
}
.recherche{
	
}
.recherche button,input {
	border-radius: 0px;
}
.recherche button,input {
	background-color: rgba(255,255,255,0.16);
	color: white;
	border: 1px solid white;
	padding: 5px 15px;
}

p{color: white;}
/*partie jean*/

p, h2, h1{
	margin:0px;
}


section{
	display: flex;
	flex-direction: column;
	background-color: #fcfbf3;
	height: 640px;
	position: relative;
}

	.product_top{	
		display: flex;
		margin-bottom: 20px;
	}

			.img_product{
				background-color:red;
				background-size: cover;
				height: 105px;
				width: 40%;
			}

			.info_product{
				background-color: #d8d8d8;
				display: flex;
				flex-direction: column;
				
				width: 60%;
				padding-top:5px;
				padding-left: 5px; 
			}

				.info_product p{
				font-size: 11px;
				}

				h2{
					font-size: 12px;
				}

				.prop{
					font-style: italic;
				}

				.product_text{
				display: flex;
				flex-direction: column;
	
				}

					.info_product p{
					margin:3px;
					}

		.recipe{
		display: flex;
		width: 100%;
		height: 80px;
		margin-top: 10px;
		}

			.img_recipe{
			background-color: #d8d8d8;
			height: 65px;
			width: 65px;
			border-radius: 50%;
			margin: auto;
			margin:5px;
			}

			.info_recipe{
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: center;
			width: 50%;
			border-bottom: 1px solid #d8d8d8;
			}
			
				.info_recipe h2, p{
				margin: 2px;
				color: black;
				}

		button{
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			bottom: 5px;
			height: 30px;
			width: 120px;
			background-color: #d0491a;
			border: none;
			border-radius:50px;
			color: white;
			font-weight: bold;
			margin-top: 50px;
		}


